.nodeInfos-button {
    padding: 8px 24px !important;
    font-size: 12px !important;
    margin: 12px !important;
    margin-top: 25px !important;
}

.infosTable {
    background-color: @dark-background-color !important;

    padding: 8px 24px !important;
    border-collapse: collapse !important;
    border-spacing: 0px !important;
}
/*
th, td{
    
    border-radius: 14px;
    padding: 8px 24px!important;
    border-radius: 14px!important;
    border: #8757DE solid 1px!important;
    margin-right: 10px!important;
    
}
*/
.NodesInfos_tableDiv {
    padding: 24px;
    background-color: @dark-background-color !important;
    border-radius: 14px;
    /*max-height: 90vh;*/
}
.detailsCellValue {
    .font-table;
    padding: 2px;
    border-radius: 3px;
    background-color: white;
}
detailsCellVerticalTabValue {
    .font-table;
    padding: 2px;
    border-radius: 3px;
    background-color: white;
    min-width: 100px;
    border: 1px solid black;
    max-width: 200px;
    line-height: 1.8;
    max-height: 25px;
    overflow: auto;
}
.detailsCellValueContent {
    line-height: 1.8;
    max-height: 200px;
    overflow: auto;
    max-width: 700px;
}

.detailsCellName {
    text-align: left !important;
    .font-table;
    background-color: @background-color !important;
    width: fit-content;
    padding: 3px 3px;
}

.NodesInfos_CardId {
    color: @button1-color;
    border: 0px;
    padding-left: 20px;
}
/* color of text links only in nodes infos*/
.NodesInfos_tableDiv > .ui-widget-content a {
    color: @button1-color !important;
}
.infos_table {
    font-size: 12px;
}
.nodeInfosWidget_InfosTab {
    .font-table;
    border: 0px !important;
    background-color: @background-color !important;
    border-radius: 14px;
    border-top-left-radius: 0px;
    overflow: unset;
    display: flex;
}
.nodesInfosAdditionalInfos {
    background-color: @background-color !important;
    border-radius: 14px !important;
    border: @source-color solid 1px !important;
}
#nodeInfos_restrictionsDiv {
    .nodesInfosAdditionalInfos;
    max-height: 55vh;
    overflow: auto;
}
#nodeInfos_associatedPropertiesDiv {
    .nodesInfosAdditionalInfos;
    max-height: 300px;
    overflow: unset;
    margin-top: 10px;
}
#nodeInfos_classHierarchyDiv {
    .nodesInfosAdditionalInfos;
    overflow: auto;
    margin-top: 10px;
}

#nodeInfos_individualsDiv {
    .nodesInfosAdditionalInfos;
    max-height: 20vh;
    overflow: auto;
    margin-top: 10px;
}
#nodesInfos_individual_button {
    .font-table;
    background-color: @background-color !important;
    font-size: 15px;
    color: @source-color;
    border: 0px !important;
    font-weight: bold;
}
.nodesInfos_titles {
    color: @source-color;
    font-size: 15px;
}
.nodesInfos-border {
    background-color: @dark-background-color !important;
    border-radius: 14px !important;
    border: @source-color solid 1px !important;
}
#nodeInfosWidget_tabsDiv {
    .nodesInfos-border;
    max-height: 100%;
}

#sourceBrowser_addPropertyDiv {
    .nodesInfos-border;
    margin-bottom: 20px !important;
}

#nodeInfosWidget_AxiomsTabDiv {
    .nodesInfos-border;
    background-color: @background-color !important;
    border: 0px !important;
    max-height: 550px;
    min-width: 1380px;
}
[role="tablist"]:not(.MuiTabs-flexContainer) {
    .button-font-title;
    padding: 0px !important;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    background-color: @dark-background-color!important;
}

.nodeInfosWidget_tabDiv {
    border: 0px !important;
    background-color: @dark-background-color!important;
    color: @button1-color !important;
}

.nodesInfos-jquerybuttons {
    background-color: white;
    border-radius: 12px;
    padding: 2px 8px !important;
    margin-top: 0px !important;
    border: @button1-color solid 1px;
    color: @button1-color;
}
.nodesInfos-jquerybuttons:hover {
    .hover-button;
    background-color: @dark-background-color!important;
}
.nodesInfos-selectedTab {
    background-color: @background-color !important;
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: @source-color !important;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: @button1-color;
}
.editPredicatePanel {
    .button-font-title;
    background-color: white;
    font-size: 12px;
    .border-classic-color-theme4;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
}

.editPredicatePanel input {
    width: 240px;
    margin: 3px;
    padding: 3px;
    border-radius: 8px !important;
    background-color: #eaefff;
    color: @button1-color !important;
}

.editPredicatePanel select {
    min-width: 100px;
    margin: 2px;
    padding: 3px;
    border-radius: 8px !important;
    background-color: @dark-background-color;
    color: @button1-color !important;
}

.edit-Predicate-value-chosen {
    font: unset;
    .small-font;
    font-weight: normal;
    width: 95%;
    background-color: @dark-background-color !important;
}

.nodesInfos-iconsButtons {
    .slsv-invisible-button;
    .size-of-button-null;
}
.nodesInfos-iconsButtons:hover {
    background-color: inherit !important;
}

#nodeInfos_listsDiv {
    margin: 10px;
    /*max-height: 90dvh;*/
}
