# persistant data directory
DATA_ROOT_DIR=/tmp

# Versions
VOCABLES_TAG=latest
SLSPYAPI_TAG=latest
JOWL_TAG=latest

# Path
SLSPYAPI_PATH=
JOWL_PATH=

# ports
VOCABLES_LISTEN_PORT=3010
VIRTUOSO_LISTEN_PORT=8890
ELASTICSEARCH_LISTEN_PORT=2009
JOWL_LISTEN_PORT=8080
SLSPYAPI_LISTEN_PORT=8008
POSTGRES_LISTEN_PORT=5432

# souslesensVocables initial configuration
USER_PASSWORD=admin
FORMAL_ONTOLOGY_SOURCE_LABEL=

# external services configuration
# See https://github.com/askomics/flaskomics-docker-compose/tree/master?tab=readme-ov-file#configure-virtuoso
VIRT_NBUFFERS=340000
VIRT_MAXDBUFFERS=250000
SA_PASSWORD=Sup3rSecretP@ssword
DBA_PASSWORD=dba
POSTGRES_PASSWORD=mysecretpassword
DATABASE_USER=souslesens
DATABASE_NAME=souslesens
DATABASE_PASSWORD=changeme
