TAG=latest
VOCABLES_LISTEN_PORT=3010
VIRTUOSO_LISTEN_PORT=8890
ELASTICSEARCH_LISTEN_PORT=2009
JOWL_LISTEN_PORT=9170
JOWL_PATH=
DATA_ROOT_DIR=/tmp

USER_PASSWORD=admin
SA_PASSWORD=Sup3rSecretP@ssword
DBA_PASSWORD=dba
FORMAL_ONTOLOGY_SOURCE_LABEL=
