TAG=latest
VOCABLES_LISTEN_PORT=3010
VIRTUOSO_LISTEN_PORT=8890
ELASTICSEARCH_LISTEN_PORT=2009
JOWL_LISTEN_PORT=8080
JOWL_PATH=
SLS_API_PATH=
SLS_API_LISTEN_PORT=8008
DATA_ROOT_DIR=/tmp

USER_PASSWORD=admin
SA_PASSWORD=Sup3rSecretP@ssword
DBA_PASSWORD=dba
FORMAL_ONTOLOGY_SOURCE_LABEL=

POSTGRES_PASSWORD=mysecretpassword
POSTGRES_LISTEN_PORT=5432
