#SavedQueriesComponent_itemsSelect {
    background-color: @background-color;
    border-radius: 14px;
    color: @button1-color;
    overflow: auto;
    padding: 5px;
    margin-top: 20px;
    width: 90%;
}
.KGquery_pathDiv {
    border: 1px saddlebrown solid;
    margin: 3px;
    padding-top: 3px;
    border-radius: 14px;
    margin-top: 7px;
}

.KGquery_pathNodeDiv {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

.KGquery_classDiv {
    margin: 3px;
    padding-top: 3px;
}

/* #KGquery_dataTableDiv {
     width: 800px;
     height: 800px;
     overflow: auto;

 }*/

#dataTableDivExport_wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.KGquery_divActions {
    font-size: 12px;
    height: 25px;
    width: 25px;

    margin: 3px;
    padding: 3px;
    margin-right: 8px;
}

.KGquery_setDiv {
    margin: 3px;
    margin-top: 10px;
    padding: 3px;
    border-radius: 14px;
    border: solid 2px brown;
}

.KGquery_smallButton {
    font-size: 4px;
    float: right !important;
    margin: -10px -3px 0px 0px !important;
    border: 0px;
    padding: 0px;
}
#KGquery_dataTableDiv {
    background-color: white;
    height: 100%;
    width: 100%;
}
