/* Less variable definition of all icons Vars that evolve with Themes*/
.arrow-icon {
    background-image: url(@arrow-icon);
    background-repeat: no-repeat;
}

.moreOptions-icon {
    background-image: url(@moreOptions-icon);
    background-repeat: no-repeat;
}
.search-icon {
    background-image: url(@search-icon);
    background-repeat: no-repeat;
}
.logoInstance-icon {
    background-image: url(@logoInstance-icon);
    background-repeat: no-repeat;
}
.lineage-logo {
    background-image: url(@lineage-logo);
    background-repeat: no-repeat;
    height: 30px;
}
.KGcreator-logo {
    background-image: url(@KGcreator-logo);
    background-repeat: no-repeat;
    height: 30px;
}
.KGquery-logo {
    background-image: url(@KGquery-logo);
    background-repeat: no-repeat;
    height: 30px;
}
.MappingModeler-logo {
    background-image: url(@KGquery-logo);
    background-repeat: no-repeat;
    height: 30px;
}
.SPARQL-logo {
    background-image: url(@SPARQL-logo);
    background-repeat: no-repeat;
    height: 35px;
}
.admin-logo {
    background-image: url(@admin-logo);
    background-repeat: no-repeat;
    height: 35px;
}
.ConfigEditor-logo {
    background-image: url(@ConfigEditor-logo);
    background-repeat: no-repeat;
    height: 35px;
}
.GraphManagement-logo {
    background-image: url(@GraphManagement-logo);
    background-repeat: no-repeat;
    height: 35px;
}
.OntoCreator-logo {
    background-image: url(@OntoCreator-logo);
    background-repeat: no-repeat;
    height: 35px;
}
.TimeLine-logo {
    background-image: url(@TimeLine-logo);
    background-repeat: no-repeat;
    height: 35px;
}
.saveIcon {
    background-image: url(@saveIcon);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}
.deleteIcon {
    background-image: url(@deleteIcon);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
}

.allPropertyIcon {
    background-image: url(@allPropertyIcon);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.currentPropertyIcon {
    background-image: url(@currentPropertyIcon);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.resetIcon {
    background-image: url(@resetIcon);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.previousIcon {
    background-image: url(@previousIcon);
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.ui-dialog-titlebar-close {
    background-image: url(@jqueryClose);
    background-repeat: no-repeat;
    height: 31px !important;
    width: 31px !important;
    background-color: white;
    border: 0px !important;
    margin-right: 20px !important;
}

.whiteBoardIcon {
    background-image: url(@whiteBoardIcon);
    background-repeat: no-repeat;
    margin-top: 10px;
    height: 50px;
    width: 40px;
}

.classesIcon {
    background-image: url(@classesIcon);
    background-repeat: no-repeat;
    height: 50px;
    width: 40px;
    margin-top: 10px;
}
.containersIcon {
    background-image: url(@containersIcon);
    background-repeat: no-repeat;
    height: 50px;
    width: 40px;
    margin-top: 10px;
}
.propertiesIcon {
    background-image: url(@propertiesIcon);
    background-repeat: no-repeat;
    height: 50px;
    width: 40px;
    margin-top: 10px;
}
