extends layout

block content
    p
    .modal-dialog
        .modal-content
            // Modal Header
            .modal-header
                h4#myModalLabel.modal-title
                    | Login
            // Modal Body
            .modal-body
                form(role='form' method='POST' action='/auth/login')
                    div.form-group
                        label(for='username') Username:
                        input#username.form-control(type='text', placeholder='username' name='username', value="")
                    div.form-group
                        label(for='password') Password:
                        input#password.form-control(type='password', placeholder='password' name='password', value="")
                    button.btn.btn-primary(type="submit", name="asdf") Submit
        if hasMessages
            br
            each msg in messages
                div.alert.alert-danger(role="alert")= msg
    br
    br
    center
        h4#poweredBy.modal-title
            | Powered By
        img(src="https://ontocommons.eu/themes/paranoid/logo.png",
            alt="Ontocommons logo",width=200,style="margin-right:20px;")            


    br
    br
    center
        h4#collaboration.modal-title
            | In Collaboration with
        img(src="https://upload.wikimedia.org/wikipedia/fr/thumb/f/f7/Logo_TotalEnergies.svg/1200px-Logo_TotalEnergies.svg.png",
            alt="TotalEnergies logo",width=150,class="mx-4")
        img(src="https://upload.wikimedia.org/wikipedia/fr/thumb/d/da/Logo_enit_2017.png/800px-Logo_enit_2017.png?20190210090909",
            alt="Enit logo",width=200)
