/* SourceSelector */

/* BACKGROUND */

.ui-dialog-ui-corner-all-ui-widget-ui-widget-content-ui-front-ui-draggable-ui-resizable {
    background-color: white;
    color: white;
    border-radius: 14px;
    border: #6b77e5 solid 5px;
}
.w3-modal-ui-dialog-content-ui-widget-content {
    background-color: white;
    color: white;
}

.w3-modal-content {
    background-color: white;
    color: white;
}

/* HEADER */

.w3-modal {
}

.ui-dialog-title {
    background-color: white;
    color: white;
    border-radius: 14px;
    border: #6b77e5 solid 2px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 0px;
    padding: 8px 24px;
    margin-left: 294px;
}

.ui-dialog-titlebar-close {
    background-color: white;
    color: white;
    border-radius: 14px;
    border: #6b77e5 solid 2px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 8px 24px;
}

.ui-dialog-titlebar-ui-corner-all-ui-widget-header-ui-helper-clearfix-ui-draggable-handle {
    background-color: inherit;
    color: inherit;
    border-radius: 14px;
    border: inherit solid 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}

/* SOURCE */
.w3-button-w3-display-topright {
    background-color: white;
    color: #6b77e5;
    border-radius: 14px;
    border: #6b77e5 solid 2px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 300px;
    padding: 8px 30px;
}

.w3-container-l3 {
    background-color: white;
    color: #434e8c;
    border-radius: 14px;
    border: white solid 1px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
    padding: 8px 24px;
}

.w3-row {
    background-color: white;
    color: #434e8c;
    border-radius: 14px;
    border: #434e8c solid 2px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    padding: 8px 30px;
}

.w3-input-w3-border-w3-padding {
    background-color: #f4f4f4;
    color: white;
    border-radius: 14px;
    border: #f4f4f4 solid 1px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 30px;
    padding: 8px 24px;
}

/* OWL */
.jstree-jstree-2-jstree-default {
    background-color: white;
    color: white;
    border-radius: 14px;
    border: white solid 1px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}

.jstree-anchor {
    background-color: inherit;
    color: #1a27b2;
    border-radius: 14px;
    border: #1a27b2 solid 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}

.jstree-node-jstree-closed {
    background-color: inherit;
    color: #6b77e5;
    border-radius: 14px;
    border: #6b77e5 solid 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}
.stree-node-jstree-closed-jstree-last {
    background-color: #6b77e5;
    color: #6b77e5;
    border-radius: 14px;
    border: #6b77e5 solid 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}

.jstree-node-jstree-leaf-jstree-last {
    background-color: inherit;
    color: #6b77e5;
    border-radius: 14px;
    border: #6b77e5 solid 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}

.jstree-node-jstree-closed-jstree-last {
    background-color: inherit;
    color: #6b77e5;
    border-radius: 14px;
    border: #6b77e5 solid 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}

.jstree-node-jstree-open {
    background-color: inherit;
    color: #6b77e5;
    border-radius: 14px;
    border: #6b77e5 solid 0px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 20px;
    padding: 8px 24px;
}
