/* ComplementaryKGA_Version */ 


/* Button Copy Query and Admin */ 
.w3-button{
	background-color : #FFA102;
	color : #FAE7B2;
	border-radius : 14px;
	border: #FFA102 solid 1px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top:20px;
	padding: 8px 24px;
	
}	
.w3-button:hover{
	border-radius : 14px;
	border: #FFA102 solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top: 20px;
	background-color: inherit ! important;
	color : #FFA102 ! important;
	padding: 8px 24px;
	
}	



/* Button R+A */
.slsv-button-source{
	background-color : #FFA102;
	color : #FAE7B2;
	border-radius : 14px;
	border: white solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
    margin-top: -4px;
	padding: 6px 16px;
}
.w3-sand, .w3-hover-sand{
	background-color : white ! important;
	color : inherit ! important;
	padding : 10px 12px;
	margin-top: -2px;
}
.Lineage_sourceLabelDiv{
	background-color : inherit;
	color : DB6745! important;
}


/* Button TOOL / Source */ 

.slsv-button{
	background-color : inherit;
	color : #0A797C;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #3F3F3F solid 0px;
}
.slsv-button:hover{
	background-color : inherit;
	color : #DB6745 ;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #DB6745 solid 0px;
}
.w3-dropdown-hover:first-child{
	background-color : inherit;
	color : white
}


/* Button WhiteBoard/Classes/Properties/Containers */
.slsv-tabButton{
	background-color : inherit;
	color : #45BBC4;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #45BBC4 solid 2px;
	margin-left: 17px;
	font-weight : normal;
	
}
.slsv-tabButton:hover{
	background-color : #45BBC4! important;
	color : white! important;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #45BBC4 solid 2px;
	margin-left: 17px;
	
	
}



/* Button Family 1 */
.slsv-button-1{
	
	background-color : #DB6745;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #DB6745 solid 0px;
	
}
.slsv-button-1:hover{
	
	background-color : #45BBC4 ! important;
	color : white! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #45BBC4 solid 0px;
	
}



/* Button Family 2 */
.slsv-button-2{
	background-color : #FFA102;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #FFA102 solid 0px;
	
}
.slsv-button-2:hover{
	background-color : #45BBC4 ! important;
	color : white! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #45BBC4 solid 0px;
	
}



/* Button Family 3 */
.slsv-button-3{
	background-color : #FAE7B2;
	color : black;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #FAE7B2 solid 0px;
}
.slsv-button-3:hover{
	background-color : #45BBC4 ! important;
	color : white ! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #45BBC4 solid 0px;
}


/* Containers */
.w3-round-small{
	padding: 14px 12px;
	border-radius : 14px;
	border: #D0F532 solid 1px ! important;
	
}


/* background */
.w3-bar{
	background-color : #FAE7B2;
	border: #0A797C solid 0px;
	border-bottom:#0A797C 3px solid ;
}
.w3-barslsv-bg-pale{
	background-color : #FFFAEE;
	
}
.w3-container{
	background-color : #FFFAEE;

}
.vis-network{
	background-color : white;
	
}


