/* Cartographie1 */ 


/* Button Copy Query and Admin */ 
.w3-button{
	background-color : #8757DF;
	color : white;
	border-radius : 14px;
	border: #8757DF solid 1px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top:20px;
	padding: 8px 24px;
	
}	
.w3-button:hover{
	border-radius : 14px;
	border: #8757DF solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top: 20px;
	background-color: inherit ! important;
	color : #8757DF ! important;
	padding: 8px 24px;
	
}	



/* Button R+A */
.slsv-button-source{
	background-color : #8757DF;
	color : white;
	border-radius : 14px;
	border: #e9f0ff solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
    
	padding: 6px 16px;
}
.slsv-button-source:hover{
	border-radius : 14px;
	border: #8757DF solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    
	background-color: inherit ! important;
	color : #8757DF ! important;
	
}
.w3-sand, .w3-hover-sand{
	background-color : #e9f0ff ! important;
	
	color : inherit ! important;
	padding : 10px;
	margin-top: -2px;
}



/* Button TOOL / Source */ 
.slsv-button{
	background-color : inherit;
	color : #1A28BF;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #1A28BF solid 0px;
}
.slsv-button:hover{
	background-color : inherit;
	color : #8757DF;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #52c1b9 solid 0px;
}
.w3-dropdown-hover:first-child{
	background-color : inherit;
	color : white
}
.Lineage_sourceLabelDiv{
	background-color : inherit;
	color : #8757DF! important;
}



/* Button WhiteBoard/Classes/Properties/Containers */
.slsv-tabButton{
	background-color : inherit;
	color : #8757DF;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 6px;
	border-radius : 14px;
	border: #8757DF solid 2px;
	margin-left: 17px;
	font-weight : bold;
	
	
}
.slsv-tabButton:hover{
	background-color : #8757DF! important;
	color : white! important;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #8757DF solid 2px;
	margin-left: 17px;
	
}



/* Button Family 1 */
.slsv-button-1{
	
	background-color : #1A28BF;
	color : black
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #1A28BF solid 0px;
	
}
.slsv-button-1:hover{
	
	background-color : inherit ! important;
	color : #1A28BF! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #1A28BF solid 2px;
	
}



/* Button Family 2 */
.slsv-button-2{
	background-color : #059BBC;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #059BBC solid 0px;
	
}
.slsv-button-2:hover{
	background-color : inherit ! important;
	color : #059BBC! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #059BBC solid 2px;
	
}



/* Button Family 3 */
.slsv-button-3{
	background-color : #52c1b9;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #52c1b9 solid 0px;
}
.slsv-button-3:hover{
	background-color : inherit ! important;
	color : #52c1b9 ! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #52c1b9 solid 2px;
}



/* Containers */
.w3-round-small{
	padding: 14px 12px;
	border-radius : 14px;
	border: #3F3F3F solid 2px ! important;
}



/* background */
.w3-bar{
	background-color : #bed4f4;
	border-bottom: #1A28BF 3px solid ;
	
}
.w3-barslsv-bg-pale{
	background-color : #e9f0ff;
	
	
}
.w3-container{
	background-color : #e9f0ff;
	
}
.vis-network{
	background-color : white;
	
}


