/* LightGrayVersion */ 


/* Button Copy Query and Admin */ 
.w3-button{
	background-color : #ff8948;
	color : white;
	border-radius : 14px;
	border: #ff8948 solid 1px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top:20px;
	padding: 8px 24px;
	
}	
.w3-button:hover{
	border-radius : 14px;
	border: #ff8948 solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top: 20px;
	background-color: inherit ! important;
	color : white ! important;
	padding: 8px 24px;
	
}	



/* Button R+A */
.slsv-button-source{
	background-color : #ff8948;
	color : #fce1a4;
	border-radius : 14px;
	border: #fce1a4 solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
    margin-top: -5px;
	padding: 6px 16px;
}
.w3-sand, .w3-hover-sand{
	background-color : #fce1a4! important;
	color : inherit ! important;
	padding : 10px;
	margin-top: -2px;
}



/* Button TOOL / Source */ 
.slsv-button{
	background-color : inherit;
	color : #CAEFFF;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #3F3F3F solid 0px;
}
.slsv-button:hover{
	background-color : inherit;
	color : #FF8948;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #3F3F3F solid 0px;
}
.w3-dropdown-hover:first-child{
	background-color : inherit;
	color : white
}
.Lineage_sourceLabelDiv{
	background-color : inherit;
	color : #230000! important;
}



/* Button WhiteBoard/Classes/Properties/Containers */
.slsv-tabButton{
	background-color : inherit;
	color : #031E5B;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #031E5B solid 2px;
	margin-left: 17px;
	font-weight : normal;
	
	
}
.slsv-tabButton:hover{
	background-color : #031E5B! important;
	color : white! important;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #031E5B solid 2px;
	margin-left: 17px;
	
}



/* Button Family 1 */
.slsv-button-1{
	
	background-color : #fce1a4;
	color : black
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #511932 solid 0px;
	
}
.slsv-button-1:hover{
	
	background-color : inherit ! important;
	color : #ff8948! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #fce1a4 solid 2px;
	
}



/* Button Family 2 */
.slsv-button-2{
	background-color : #ff8948;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #912C5C solid 0px;
	
}
.slsv-button-2:hover{
	background-color : inherit ! important;
	color : #ff8948! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #ff8948 solid 2px;
	
}



/* Button Family 3 */
.slsv-button-3{
	background-color : #F45100;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #B788A5 solid 0px;
}
.slsv-button-3:hover{
	background-color : inherit ! important;
	color : #F45100 ! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #F45100 solid 2px;
}



/* Containers */
.w3-round-small{
	padding: 14px 12px;
	border-radius : 14px;
	border: #3F3F3F solid 2px ! important;
}



/* background */
.w3-bar{
	background-color : #0076B7;
	border-bottom: #031E5B 3px solid ;
	
}
.w3-barslsv-bg-pale{
	background-color : #CAEFFF;
	
}
.w3-container{
	background-color : #CAEFFF;
	
}
.vis-network{
	background-color : white;
	
}


