
/* Specific interactions of lineage */

/* Source title interactions */
.Lineage_sourceLabelDiv {
    background-color: inherit;
    color: @source-color !important;
}
.Lineage_sourceLabelDiv {
    margin: @margin-small;
    background-color: @background-color;
}

.Lineage_selectedSourceDiv {
    .source-border;
}
.Lineage_allSelectedSourceDiv {
    .source-border;
}

#Lineage_graphEditionButtons {
    margin-left: 1dvh !important;
}

.w3-sand,
.w3-hover-sand {
    background-color: @background-color !important;
    color: inherit !important;
    padding: 10px;
    margin-top: -2px;
}

.w3-dropdown-hover:first-child {
    background-color: inherit;
    color: white;
}

.w3-round-small {
    padding: 14px 12px;
    border-radius: 14px;
    border: #3f3f3f solid 2px !important;
    background-color: @background-color!important;
}
.w3-bar {
    background-color: @dark-background-color;
    border-bottom: @button1-color 3px solid;
   
}
.w3-bar-item{
    padding:8px 5px!important;
}
.w3-barslsv-bg-pale {
    background-color: @background-color;
}
.w3-container {
    background-color: @background-color;
}
.vis-network {
    background-color: white;
}


/* Lineage classes */
.addEdgeButtonColor{
    background-color: @button1-color!important;
    border-color:@button1-color!important;
}
.titleboxButtons {
    float: left;
    .classic-font-title;
    background: @background-color;
    margin: -30px 5px 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
}
.slsv-right-top-bar-button {
    .slsv-general-buttons;
    margin-top: 27px !important;
    margin-top: 20px;
    padding: 8px 24px;
}

.slsv-right-top-bar-button:hover {
    .hover-button;
}

.slsv-button-source {
    .slsv-general-buttons;
    display: inline-flex;
    padding: 6px 16px;
    border: inherit solid 2px !important;
    margin: 2px;
}

.slsv-button-source:hover {
    .hover-button;
}

/* Button WhiteBoard/Classes/Properties/Containers */
.slsv-tabButton {
    .slsv-invisible-button;
    font-size: 13px;
    padding-left: 0px!important;
    padding-right: 0px!important;
    color: @button1-color;
}
.slsv-tabButton:hover {
    .hover-button;
    background-color: @source-color;
}
.slsv-tabButtonSelected {
    .slsv-tabButton;
    color: @source-color;
}

/* Button Family 1 */
.slsv-button-1 {
    background-color: @button1-color;
    .slsv-whiteboard-buttons;
    .border-classic-color-theme1;
}
.slsv-button-1:hover {
    .hover-button;
}

/* Button Family 2 */
.slsv-button-2 {
    background-color: @button2-color;
    .slsv-whiteboard-buttons;
    .border-classic-color-theme2;
}
.slsv-button-2:hover {
    .hover-button;
}

/* Button Family 3 */
.slsv-button-3 {
    background-color: @button3-color;
    .slsv-whiteboard-buttons;
    .border-classic-color-theme3;
}

.slsv-button-3:hover {
    .hover-button;
}



.toolSelectionBorder {
    .border-classic-color-theme1;
    margin: 10px;
}

#currentToolTitle {
    .classic-font-title;
    color: @source-color;
    font-size: 16px;
    margin-right: 10px;
}

.slsv-tabDiv {
    background-color: @dark-background-color;
    color: @button1-color;
    .classic-font-title;
    font-size: 13px;

   
    border-bottom: @button1-color solid 3px !important;
    border-right: @button1-color solid 3px !important;


    padding: 1% 1.65% !important;
    width: 25% !important;
    height: 10%;
    
}

.slsv-selectedTabDiv {
    background: @background-color;
    border-bottom: 0px !important ;
   
}

.classesPannelButton{
    .slsv-button-1;
    padding: 5% 10px; 
    margin-bottom: 10px;
    margin-top: 0px;
    margin-right: 6px;
}
.classesPannelButton:hover{
    .hover-button;
}
#GenericTools_searchScope{
    margin: 12px;
}
.SearchButtonIconRight{
    .SearchButtonIcon;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-left: 0px!important;
    background-color: white;
}
.SearchButtonIconLeft{
    .SearchButtonIcon;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.input {
    display: flex;
    gap: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    width: 150px;
    height:30px;
    background-color: white;
}

.left-border-main-dialog-div{
    border-left: @button1-color solid 0px !important;
    border-bottom:0px!important;
    background-color: @background-color;
}
/* general dialog classes */
.w3-row {

    .button-font-uncolor; 
    background-color: white;
    color: @source-color;
    .border-classic-color-theme4;

   
    padding: 8px 30px;
    display: inline-flex;
    align-items: center;
}

[role="dialog"] {
    width: auto !important;
    height: auto !important;

    .border-classic-color-theme4;
    border: @button1-color solid 5px !important;
}

.ui-dialog-title {
    color: @source-color;
    background-color: @background-color;
    .big-font-title;
    border: 0px;
    border-radius: 14px;
    padding: 8px 24px;
    margin-top: 20px !important;
}

.w3-border {
    background-color: @background-color;
    border-radius: 14px;
}
