/* Cartographie1 */ 


/* Button Copy Query and Admin */ 
.w3-button{
	background-color : #f27c96;
	color : white;
	border-radius : 14px;
	border: #f27c96 solid 1px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top:20px;
	padding: 8px 24px;
	
}	
.w3-button:hover{
	border-radius : 14px;
	border: #f27c96 solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 15px;
    margin-top: 20px;
	background-color: white ! important;
	color : #f27c96! important;
	padding: 8px 24px;
	
}	



/* Button R+A */
.slsv-button-source{
	background-color : white;
	color : #b51d8c;
	border-radius : 14px;
	border: #ffe5ca solid 2px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
    margin-top: -5px;
	padding: 6px 16px;
}
.w3-sand, .w3-hover-sand{
	background-color : #ffe5ca!important;
	color : inherit ! important;
	padding : 10px;
	margin-top: -2px;
}



/* Button TOOL / Source */ 
.slsv-button{
	background-color : inherit;
	color : #b51d8c;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #b51d8c solid 0px;
}
.slsv-button:hover{
	background-color : inherit;
	color : white;
	font-family: Helvetica, sans-serif;
	font-weight : bold;
	font-size: 16px;
    margin-top:20px;
	padding: 8px 24px;
	border-radius : 14px;
	border: #ffe5ca solid 0px;
}
.w3-dropdown-hover:first-child{
	background-color : inherit;
	color : white
}
.Lineage_sourceLabelDiv{
	background-color : inherit;
	color : #b51d8c! important;
}



/* Button WhiteBoard/Classes/Properties/Containers */
.slsv-tabButton{
	background-color : white;
	color : #f27c96;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #f27c96 solid 2px;
	margin-left: 17px;
	font-weight : bold;
	
	
}
.slsv-tabButton:hover{
	background-color : #f27c96! important;
	color : white! important;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #f27c96 solid 2px;
	margin-left: 17px;
	
}



/* Button Family 1 */
.slsv-button-1{
	
	background-color : #b51d8c;
	color : white;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #b51d8c solid 0px;
	
}
.slsv-button-1:hover{
	
	background-color : white ! important;
	color : #b51d8c ! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #b51d8c solid 2px;
	
}



/* Button Family 2 */
.slsv-button-2{
	background-color : #f05978;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #f05978 solid 0px;
	
}
.slsv-button-2:hover{
	background-color : white ! important;
	color : #f05978! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #f05978 solid 2px;
	
}



/* Button Family 3 */
.slsv-button-3{
	background-color : #f27c96;
	color : white
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #f27c96 solid 0px;
}
.slsv-button-3:hover{
	background-color : white ! important;
	color : #f27c96 ! important;
	font-family: Helvetica, sans-serif;
	font-size: 12px;
	padding: 8px 12px;
	border-radius : 14px;
	border: #f27c96 solid 2px;
}



/* Containers */
.w3-round-small{
	padding: 14px 12px;
	border-radius : 14px;
	border: #b51d8c solid 2px ! important;
}



/* background */
.w3-bar{
	background-color : #fbf1e5;
	border-bottom: #fdb39a 5px solid ;
	
}
.w3-barslsv-bg-pale{
	background-color : #fbf1e5;
	
}
.w3-container{
	background-color : #fbf1e5;
	
}
.vis-network{
	background-color : white;
	
}


