#bot-input {
    border: none;
}
.bot-syntax {
    color: blue;
}

.bot-class {
    color: red;
}

.axioms-property {
    color: green;
}

.botTA {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
