.w3-theme {
    color: #fff !important;
    background-color: #4caf50 !important;
}

.w3-btn {
    background-color: #4caf50;
    margin-bottom: 4px;
}

.w3-code {
    border-left: 4px solid #4caf50;
}

.myMenu {
    margin-bottom: 150px;
}
