/*.slsv-colors {
    // background-color:  #8cac2c;
    background-color: #0067a7;
    color: white;
    border-radius: 4px;
}

.slsv-colors-2 {
    background-color: #7367a7;
    color: white;
    border-radius: 4px;
}
.slsv-colors-3 {
    background-color: #9f5899;
    color: white;
    border-radius: 4px;
}

.slsv-bg-pale {
    background-color: #caefff;
}
.slsv-bg-intense {
    background-color: #0067a7;
}


.slsv-panel {
    background-color: #caefff;
}

.slsv-button {
    .slsv-colors;
    margin: 3px !important;
    padding: 3px !important;
}
.slsv-button-2 {
    .slsv-colors-2;
    margin: 3px !important;
    padding: 3px !important;
}
.slsv-button-3 {
    .slsv-colors-3;
    margin: 3px !important;
    padding: 3px !important;
}

.slsv-top-menu-Button {
    margin: 3px !important;
    padding: 3px !important;
}

.slsv-tabButton {
    // color: #cb85d4;
    color: #70309f;
    background-color: #ffffff;
    border: #70309f solid 1px !important;

    margin: 1px !important;
    padding: 6px !important;
    margin-right: 1px;
    margin-top: 6px !important;
    -moz-border-radius-bottomright: 5px;
    border-radius: 4px;
}

.slsv-panel-color {
    background-color: #f6fcec !important;
}

*/
.Lineage_sourceLabelDiv {
    margin: 3px;
    padding: 3px;
    background-color: #d0cfcd;
}

.popupMenuWidgetDiv {
    z-index: 20;
    position: absolute;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    background-color: rgb(221, 221, 221);
}
.Lineage_selectedSourceDiv {
    border-radius: 14px;
    border: #1a28bf solid 1px;
    padding: 7px;
}
.Lineage_allSelectedSourceDiv {
    border-radius: 14px;
    border: #1a28bf solid 1px;
    padding: 7px;
}

.w3-container {
    padding: 0%;
    padding-top: 0px;
}
.titleboxButtons {
    float: left;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin: -28px 5px 0px 0px;
    background: #e9f0ff;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
.w3-panel {
    margin-top: 6%;
}

#Lineage_graphEditionButtons {
    margin-left: 15dvh !important;
}
.lineage-tab {
    padding-left: 10px;
    padding-right: 10px;
}
