.popupMenuWidgetDiv {
    z-index: 20;
    position: absolute;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    display: flex;
}

.Lineage_PopUpStyle {
    background-color: @background-color;
    color: @source-color;
    border: 0px;
    border-radius: 14px;
    overflow-y: hidden;
    text-align: center;
}
.w3-dropdown-content {
    min-width: 100px !important;
}

.Lineage_PopUpStyle select option {
    padding: 6px;
    margin-top: 4px;
    color: @source-color;
}


.Lineage_PopUpStyle select option:hover {
    background-color: @dark-background-color;
    color: @button1-color;
    border-radius: 14px;
}

.Lineage_PopUpStyle select option:checked {
    background-color: @dark-background-color;
    color: @button1-color;
    border-radius: 14px;
}
.PopUpBorder {
    border: 2px solid @button1-color!important;
}

#toolSelectionSection:hover #ToolBorder {
    border-bottom: 0px !important;

    /*border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;*/
}

/*
.toolSelectionBorder:hover{
	border: 0px;
}
*/
.popupMenuItem {
    background-color: @background-color;
    color: @source-color;
    /*border-bottom: 2px solid #1A27B2;*/
    border-radius: 14px;
    overflow-y: hidden;
    text-align: center;
}

.popupMenuWidgetDiv {
    background-color: @background-color;
    border: 2px solid @button1-color;
    border-radius: 14px;
}

.popupMenuWidgetDiv span:hover {
    background-color: @dark-background-color;
    color: @button1-color;
    border-radius: 14px;
}

/*Right click jstree*/
.jstree-default-contextmenu {
    background-color: @background-color;
    color: @source-color!important;
    border: 2px solid @button1-color;
    border-radius: 14px;
    overflow-y: hidden;
    text-align: center;
}

.vakata-contextmenu-sep {
    border: 0px;
    font-size: 0px;
}
.vakata-context li > a {
    color: @source-color;
}

.vakata-context li > a:hover {
    background-color: @dark-background-color;
    color: @button1-color;
    border-radius: 14px;
}
