
.lineageLegendDyn {
  font-size: 12px;
}
.legendSectionTitle {
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 2px;
}
.legendRow {
  display: flex;
  align-items: center;
  margin: 2px 0;
}
.legendSymbol {
  display: inline-block;
  width: 18px;
  font-size: 15px;
  font-weight: bold;
}
.legendLabel {
  margin-left: 4px;
}
