name: build-and-deploy-docs
on:
    - push
jobs:
    build:
        if: "github.ref == 'refs/heads/master'"
        runs-on: ubuntu-latest
        permissions:
            pages: write
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        container:
            image: astral/uv:python3.11-trixie-slim
        steps:
            - uses: actions/checkout@v4
            - run: |
                  cd docs
                  uv run sphinx-build docs _build/html
            - name: Upload
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/_build/html
            - name: Pages
              uses: actions/deploy-pages@v4
