name: build-and-deploy-docs
on:
    - push
jobs:
    build:
        if: "github.ref == 'refs/heads/master'"
        runs-on: ubuntu-latest
        permissions:
            pages: write
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - uses: actions/checkout@v4
            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "npm"
            - name: Install npm dependencies
              run: npm ci
            - name: Generate jsdoc
              run: npm run tools:jsdoc2md > docs/docs/devdoc/codedoc/jsdoc.md
            - name: Setup uv
              uses: astral-sh/setup-uv@v4
            - name: Build docs with Sphinx
              run: |
                  cd docs
                  uv run sphinx-build docs _build/html
            - name: Upload
              uses: actions/upload-pages-artifact@v3
              with:
                  path: docs/_build/html
            - name: Pages
              uses: actions/deploy-pages@v4
