# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Jest

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

env:
    CONFIG_PATH: tests/data/config

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node-version: [18.x]
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
            - run: npm ci
            - run: npm run test:jest
            - name: coverage
              uses: ArtiomTr/jest-coverage-report-action@v2
              with:
                  test-script: npm run test:jest
                  coverage-file: ./tests/report.json